*{
    margin: 0;
    padding: 0;
    background-color: #ededed;
    font-family: sans-serif;
}

.contenedor{
    border: 2px solid black;
    margin: 30px 50px;
    position: relative;
}

.box{
    width: 200px;
    height: 200px;
    background-color: orange;
    color: white;
}

.box--blue{
    background-color: blue;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.box--red{
    background-color: red;
}