*{
    margin: 0;
    padding: 0;
    background-color: #ededed;
}

.box{
    width: 200px;
    height: 200px;
    background-color: orange;
    position: relative;
    z-index: 1;
    color: white;
}

.box--blue{
    background-color: blue;
    bottom: 500px;
    z-index: 1;
    position: absolute;
}

.box:first-child{
    background-color: red;
    z-index: 3;
}